extends ../layouts/master.jade

append titlePage
  title Cosmos Explore

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content page-account page-account-vp")

append body-contents
  ="\n"
  .page-container
    include ../includes/page-sidebar.jade
    ="\n"
    .page-content-wrapper
      .page-content.home-page
        .container
          
        // .member-main
    // .page-content
  // .member
  //.page-container

  ="\n"
  // include ../includes/footer.jade

  ="\n"

