#popupConfirm.modal.modal-dialog-centered.fade.popup_customer(tabindex='-1',role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') 
          span 
            img( src="../../assets/images/close.svg" alt="icon close")
      .modal-body
        h5.title-popup Confirmation
        .content-popup-detail
          ul
            li
              strong SVC:
              span 200 SVC
            li
              strong ETH Address:
              span 0x53d8be483562f399f207db74273ac366b65af05e
            li 
              strong Fee:
              span 0%
          span.note BTC amount is an estimated value based on the current price. The actual withdraw amount will be fixed after finishing exchanging USD to BTC.

          
      .modal-footer
        button.btn.btn-save(data-toggle='modal', data-target="#popupConfirmFinish" type="button") CONFIRM

